* {
  box-sizing: border-box;
  margin: 0;
  font-family: Open Sans, Regular;
}

body {
  display: grid;
  grid-template-areas: 
  "header header header" 
  "aside main main";
  grid-template-columns: repeat(3, 1fr);
}

button {
  border: 0;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

img {
  cursor: pointer;
}

/*Header*/

header {
  font-family: Open Sans, ExtraBold;
  background-color: #1f1f3d;
  color: #fff;
  height: 70px;
  display: flex;
  padding: 0 1% 0 1%;
  width:100%;
  justify-content: space-between;
  grid-area: header;
}

.h1__span--highlight {
  color: #fec40e;
}

h1 {
  float: left;
  margin: auto 0;
  font-size: 30px;
}

.form--search-form {
  height: 55%;
  width: 30%;
  float: right;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.search-form__inner {
  height: 95%;
  width: 100%;
}

.search__btn {
  width: 15%;
  background-color: #C7D3D8;
}

.search__btn--img {
  height: 75%;
  width: 75%;
  margin: 5px 0;
}

/*Aside*/

aside {
  background-color: #587a8a;
  width: 100%;
  height: 700px;
  float: left;
  grid-area: aside;
  color: #f4f7f8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  border-right: 2px solid #3d6477;
}

.form--task-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 3% 4% 3%;
  border-bottom: 2px solid #3d6477;
}

.form__label {
  margin: 10px 0 0 0;
  font-size: 15px;
}

.task-form__input {
  margin: 0 0 15px 0;
  height: 30px;
  display: flex;
}

.form__input--stage-task {
  height: 100%;
  width: 85%;
  border: 0;
}

.form__button--stage-task {
  height: 100%;
  width: 15%;
  background-color: #1f1f3d;
  color: #fff;

}

.task-form__btn {
  background-color: #1f1f3d;
  color: #fff;
  height: 35px;
  margin: 15px 0 0 0;
  font-size: 15px;

}

.task-form--urgency-btn {
  width: 95%;
}

.task__section-ul {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 20px;
}

label {
  margin: 0 0 0 10px;
}

.task-wrap img {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin: 3px 0 0 0;
}

li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.task-wrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

/*Main*/

main {
  background-color: #f4f7f8;
  height: 700px;
  float: right;
  width: 100%;
  grid-area: main;
  padding: 20px;
}

.card {
  width: 40%;
  display: flex;
  flex-direction: column;
  border: 2px solid #c7d3d8;
  padding: 3px;
  background-color: #F9FDFF;
  margin: 10px 10px;
}

.card-header {
  background-color: #f9fdff;
  color: #000;
  height: 30px;
  border-bottom: 2px solid #c7d3d8;
  font-weight: 600;
}

.card-footer__img--wrap {
  height: 35px;
  width: 50px;
  font-size: 10px;
  text-align: center;
}

.card-footer__img {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  color: #3c6577;
  font-weight: 600;
}

.card-body {
  min-height: 150px;
  border-bottom: 2px solid #C7D3D8;
  margin: 10px 2px;
}

.checkbox {
  margin: 0 5px 0 10px;
  height:20px;
  width:20px;
}

.card-body__ul {
  padding: 0;
}

